@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Open-sans");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }

html,
body {
  background: #5B5B5C url(../images/coffee-header-bg.jpg) center no-repeat;
  background-size: cover;
  height: 100%;
  font-family: "Montserrat", "Arial", sans-serif;
  color: #636363; }

.container {
  margin: 0 auto;
  width: 1140px; }

a {
  text-decoration: none; }

p {
  font-family: "Open Sans", Arial, Helvetica, sans-serif; }

.btn {
  font-size: 1rem;
  font-weight: 200;
  padding: 10px 30px;
  border-radius: 3px;
  transition: .3s;
  border: none;
  outline: none;
  cursor: pointer; }
  .btn a {
    color: #fff; }

.btn-primary {
  background: #599c52; }
  .btn-primary:hover {
    background: #4fa846; }

.btn-secondary {
  background: #DE8D4C; }
  .btn-secondary:hover {
    background: #e98c41; }

nav {
  display: flex;
  color: #fff;
  padding: 32px;
  font-size: .8rem; }
  nav .logo {
    margin-right: auto; }
  nav ul li {
    display: inline;
    margin-left: 20px; }
    nav ul li a {
      color: #fff; }
  nav .sign-up-btn {
    border: 1px solid #fff;
    padding: 8px 22px;
    border-radius: 3px;
    transition: .3s; }
    nav .sign-up-btn:hover {
      background: rgba(255, 255, 255, 0.1); }

.search,
.filter-categories {
  color: #fff;
  text-align: center; }

.search {
  color: #fff;
  text-align: center; }
  .search h1 {
    margin: 120px 0 8px 0;
    font-size: 2.5rem; }
  .search p {
    margin-bottom: 32px;
    font-size: 1.2rem;
    font-weight: 200; }
  .search form input[type="text"] {
    font-size: 1.2rem;
    font-weight: 200;
    padding: 10px;
    border-radius: 3px;
    border: none;
    width: 500px;
    outline: none; }
    .search form input[type="text"]:placeholder {
      opacity: .3; }
  .search form button {
    color: #fff;
    font-size: 1rem; }

.filter-categories .location {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: .13rem;
  margin: 100px 0 16px 0; }

.filter-categories .tab-categories ul {
  margin-bottom: 40px; }

.filter-categories .tab-categories ul li {
  display: inline-block;
  font-size: .9rem; }

.filter-categories .tab-categories a {
  color: #fff;
  padding: 16px; }

.filter-categories .tab-categories .active {
  border-bottom: 2px solid #fff;
  padding-bottom: 10px; }

.featured-listings {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .featured-listings .btn-primary {
    margin-top: 24px;
    display: block; }

.restaurant-card {
  background: #fff;
  height: 300px;
  border-radius: 10px;
  text-align: center;
  -webkit-box-shadow: 0px 15px 88px -37px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 15px 88px -37px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 15px 88px -37px rgba(0, 0, 0, 0.17);
  overflow: hidden; }

.card-body h1 {
  font-size: 1.1rem;
  line-height: 1.1rem;
  margin-bottom: 8px;
  color: #636363; }

.card-body a {
  color: #636363; }

.card-header {
  height: 50%;
  background: #000 url(http://res.cloudinary.com/jenelle-miller/image/upload/v1518632582/tupelo-cafe_a7buc9.png) center no-repeat;
  background-size: cover;
  position: relative; }

.favorite-btn {
  width: 50px;
  height: 50px;
  color: #fff;
  border-radius: 50%;
  position: relative;
  top: 124px;
  left: 24px;
  border: 2px solid #fff;
  background: #F22F59;
  padding-top: 15px;
  text-align: center;
  vertical-align: center;
  transition: .3s; }
  .favorite-btn:hover {
    background: #ff2252;
    cursor: pointer; }

.card-body {
  padding: 24px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: .9rem; }

.rating ul {
  padding: 10px; }

.rating li {
  display: inline;
  color: #EFA127; }
  .rating li:hover {
    color: #ffa517;
    cursor: pointer; }

footer {
  background: #1f1e23;
  color: rgba(255, 255, 255, 0.3);
  font-size: .8rem;
  display: flex;
  justify-content: space-between;
  padding: 32px; }
  footer .footer-col h4 {
    color: #fff;
    font-size: .9rem;
    margin-bottom: 12px; }
  footer .footer-col li {
    list-style: none;
    margin-bottom: 8px; }
  footer .copywrite {
    display: block; }
