@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Open-sans");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }

html,
body {
  background: #1F1E23 url(../images/coffee-header-bg.jpg) center no-repeat;
  background-size: cover;
  height: 100%;
  font-family: "Montserrat", "Arial", sans-serif;
  color: #636363; }

.container {
  margin: 0 auto;
  max-width: 1140px; }

a {
  text-decoration: none; }

p {
  font-family: "Open Sans", Arial, Helvetica, sans-serif; }

.btn {
  font-size: 1rem;
  line-height: 1.1rem;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 200;
  padding: 10px 30px;
  border-radius: 3px;
  -webkit-transition: .3s;
  transition: .3s;
  border: none;
  outline: none; }
  .btn a {
    color: #fff; }
  .btn:hover {
    cursor: pointer; }

.btn-primary {
  background: #599c52; }
  .btn-primary:hover {
    background: #4fa846; }

.btn-secondary {
  background: #DE8D4C; }
  .btn-secondary:hover {
    background: #e98c41; }

.ghost-btn {
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0);
  color: #fff; }
  .ghost-btn:hover {
    background: rgba(255, 255, 255, 0.1); }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  padding: 32px;
  font-size: .8rem; }
  nav .logo {
    margin-right: auto; }
  nav ul li {
    display: inline;
    margin-left: 20px; }
    nav ul li a {
      color: #fff; }
  nav .ghost-btn {
    font-size: .8rem;
    padding: 8px 22px; }

.search,
.filter-categories {
  color: #fff;
  text-align: center; }

.search {
  color: #fff;
  text-align: center; }
  .search h1 {
    margin: 120px 0 8px 0;
    font-size: 2.5rem; }
  .search p {
    margin-bottom: 32px;
    font-size: 1.2rem;
    font-weight: 200; }
  .search form input[type="text"] {
    font-size: 1.2rem;
    font-weight: 200;
    padding: 10px;
    border-radius: 3px;
    border: none;
    width: 500px;
    outline: none; }
    .search form input[type="text"]:placeholder {
      opacity: .3; }
  .search form button {
    color: #fff;
    font-size: 1rem; }

.filter-categories .location {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: .13rem;
  margin: 100px 0 16px 0; }
.filter-categories .tab-categories ul {
  margin-bottom: 40px; }
.filter-categories .tab-categories ul li {
  display: inline-block;
  font-size: .9rem; }
.filter-categories .tab-categories a {
  color: #fff;
  padding: 16px; }
.filter-categories .tab-categories .active {
  border-bottom: 2px solid #fff;
  padding-bottom: 10px; }

.featured-listings .btn.btn-primary {
  text-align: center;
  width: 150px;
  margin: 0 auto; }

.card-listings {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 32px; }

.restaurant-card {
  background: #fff;
  width: 32%;
  height: 300px;
  border-radius: 10px;
  text-align: center;
  -webkit-box-shadow: 0px 15px 88px -37px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 15px 88px -37px rgba(0, 0, 0, 0.17); }

.card-header {
  height: 50%;
  background: #000 center no-repeat;
  overflow: hidden; }
  .card-header img {
    width: 100%;
    background-size: cover; }

.card-body {
  padding: 24px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: .9rem;
  position: relative; }
  .card-body h1 {
    font-size: 1.1rem;
    line-height: 1.1rem;
    margin-bottom: 8px;
    color: #636363; }
  .card-body a {
    color: #636363; }

.favorite-btn {
  width: 50px;
  height: 50px;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -26px;
  left: 24px;
  border: 2px solid #fff;
  background: #F22F59;
  padding-top: 15px;
  text-align: center;
  vertical-align: center;
  -webkit-transition: .3s;
  transition: .3s; }
  .favorite-btn:hover {
    background: #ff2252;
    cursor: pointer; }

.rating ul {
  padding: 10px; }

.rating li {
  display: inline;
  color: #EFA127; }
  .rating li:hover {
    color: #ffa517;
    cursor: pointer; }

footer {
  background: #1f1e23;
  margin-top: 40px;
  font-size: .8rem;
  padding: 32px; }
  footer .footer-links {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  footer a {
    color: #636363;
    -webkit-transition: .3s;
    transition: .3s; }
    footer a:hover {
      color: #898989; }
  footer .footer-col h4 {
    color: #fff;
    font-size: .9rem;
    margin-bottom: 12px; }
  footer .footer-col li {
    list-style: none;
    margin-bottom: 8px; }
  footer .footer-col .social ul li {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: gray; }
  footer .footer-col .newsletter {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2; }
  footer .footer-col button.btn.ghost-btn {
    border-color: rgba(255, 255, 255, 0.3);
    font-size: .8rem; }
  footer .footer-col input[type="text"] {
    font-size: 1rem;
    color: #fff;
    border: 1px solid white;
    font-weight: 200;
    padding: 9px;
    border-radius: 3px;
    border: none;
    width: 350px;
    outline: none;
    background: rgba(255, 255, 255, 0.05); }
    footer .footer-col input[type="text"]:focus {
      border: 1px solid rgba(255, 255, 255, 0.3); }
    footer .footer-col input[type="text"]:placeholder {
      opacity: .3; }
  footer .copyrite {
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    padding-top: 32px;
    margin-top: 24px; }

/*# sourceMappingURL=styles.css.map */